.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 64px;
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
    border-radius: 100px;
}

.img{
    height: 60px;
    width: 60px;
    background: #131316;
    border-radius: 100px;
    object-fit: cover;
}